<launch>
    <param name="robot_description" textfile="$(find omniwheel_base)/urdf/gambot.urdf" />

    <node name="gambot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model gambot" />

    <rosparam file="$(find gambot_hardware_interface)/config/gambot.yaml" command="load"/>

    <!--node name="gambot_hardware_interface" pkg="gambot_hardware_interface" type="gambot_hardware_interface_node" output="screen"/-->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/gambot"
        args="left_joint_velocity_controller back_joint_velocity_controller right_joint_velocity_controller joint_state_controller"/>    

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/gambot/joint_states" />
    </node>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="worlds/empty.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
     </include>

</launch>
